textarea {
    resize: none;
    font-family: SUIT-Regular;
}
textarea::placeholder, input[type=text]::placeholder {
    font-family: SUIT-Regular;
    color: #cccccc;
}
input[type=text] {
	font-family: SUIT-Regular;
	width: 100%;
    height: 30px;
  	margin: 20px 0px 5px -3px;
}
/* input[type=text]::placeholder {
	font-family: SUIT-Regular;
    color: #cccccc;
} */
select {
    font-family: SUIT-Regular;
    border: 1px #cccccc solid;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal > .message_content {
    position: relative;
    top: 150px;
    margin: auto;
    width: 350px;
    background-color: #fffaf5;
    border-radius: 10px;
    padding: 10px;
    font-family: SUIT-Regular;
}
.modal > .phone_content {
    position: relative;
    top: 250px;
    margin: auto;
    width: 240px;
    background-color: #fffaf5;
    border-radius: 10px;
    padding: 10px;
}
.modal > .alarm_content {
    position: relative;
    top: 300px;
    margin: auto;
    width: 300px;
    background-color: #9BBFD9;
    border-radius: 50px;
    padding: 10px;
}
.modal > .cancel_alarm_content {
    position: relative;
    top: 300px;
    margin: auto;
    width: 300px;
    background-color: #9BBFD9;
    border-radius: 50px;
    padding: 10px;
}
.modal_title {
    font-family: SUIT-SemiBold;
    color: #5e5e5e;
    font-size: 20px;
}
.message_content .message_notice{
    color: red;
    font-size: 10px;
    font-family: SUIT-Light;
    margin-top: 10px;
    text-align: center;
}
.message_content .message_input {
    margin-top: 20px;
}
.message_content .message_send {
    margin-top: 10px;
}
.message_content .message_send button {
    background-color: transparent;
    font-family: SUIT-Regular;
    font-size: 15px;
}
.message_content #btn_message_cancel {
    color: #b8b6b6;
}
.message_content #btn_message_send {
    float: right;
    color: #9BBFD9;
}
.phone_content .phone_input {
    margin-bottom: 10px;
}
.phone_content .phone_submit button {
	background-color: transparent;
    font-family: SUIT-Regular;
    font-size: 15px;
}
.phone_content #btn_phone_cancel {
	color: #b8b6b6;
}
.phone_content #btn_phone_submit {
	float: right;
    color: #9BBFD9;
}
.alarm_content > p {
    text-align: center;
    font-family: SUIT-SemiBold;
    color: #f3f4f6;
    font-size: 20px;
}
.cancel_alarm_content > p {
    text-align: center;
    font-family: SUIT-SemiBold;
    color: #f3f4f6;
    font-size: 20px;
}