button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: SUIT-Regular;
}
textarea {
    resize: none;
    font-family: SUIT-Regular;
}
textarea::placeholder {
    font-family: SUIT-Regular;
    color: #cccccc;
}

.funding_header {
	background-color: #9bbfd9;
    padding: 60px 0;
    /* margin-bottom: 30px; */
    text-align: center;
}
.funding_header p {
    font-size: 16px;
    font-family: SUIT-Regular;
    margin-bottom: 20px;
}
.funding_header h2 {
    font-size: 36px;
    font-family: SUIT-SemiBold;
    color: white;
}

.funding_content {
    width: 80%;
    margin: 0 auto;
}
.funding_info {
    overflow: hidden;
}
.left_funding_info {
    width: 68%;
    float: left;
    margin-right: 2%;
    font-family: SUIT-Regular;
    font-size: 17px;
}
#thumbnail_img {
    width: 100%;
}
.funding_info_group {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: SUIT-Regular;
}
.funding_info_group .line {
    margin-top: 30px;
    background-color: #5E5E5E;
    height: 2px;
    width: 30px;
}
.funding_info_group img {
    width: 70px;
}
.funding_info_group_title {
    font-size: 13px;
    color: #5E5E5E;
}
.funding_info_group_content {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(41, 128, 185);
}
.funding_notice {
    margin-left: 10px;
    margin-top: 20px;
}
.funding_notice img {
    width: 40px;
    transform:rotate(-30deg);
}
.funding_notice p {
    margin-left: 40px;
    margin-top: -20px;
    font-family: SUIT-Regular;
    font-size: 13px;
    color: #5E5E5E;
}

.right_funding_info {
    width: 30%;
    float: left;
}
.right_funding_info img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.right_funding_info h3 {
    margin-bottom: 10px;
    font-size: 12px;
    font-family: SUIT-SemiBold;
    color: #777;
}
.d_day, .achieve_rate, .total_money, .support {
    margin-bottom: 10px;
}
.like_and_share {
    display: flex;
    margin-bottom: 5px;
    height: 30px;
}
#btn_funding {
    width: 100%;
    height: 40px;
    background-color: #B6E0D6;
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
}
#btn_funding img {
    width: 30px;
} 
#btn_like {
    flex: 1;
    margin-right: 5px;
    background-color: #FFFDE7;
}
#btn_share {
    flex: 1;
    background-color: #FFFDE7;
}
#btn_message {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
#btn_report {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    margin-bottom: 30px;
}
.maker_info {
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 16px;
    font-family: SUIT-Regular;
}
.maker_img_name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.maker_logo {
    width: 36px;
    height: 36px;
    border: 1px solid #B6E0D6;
    border-radius: 100%;
    background-image: url('../images/heart_color.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.maker_name {
    flex-grow: 1;
}
.maker_info table {
    font-family: SUIT-Light;
    font-size: 12px;
}
.maker_info tr {
    height: 20px;
}
.maker_info th {
    text-align: left;
    width: 80px;
}

.funding_menu {
    font-family: SUIT-SemiBold;
    font-size: 24px;
    color: #444C57;
    width: 155px;
    margin: 10px auto;
}
#story_tab:checked + label{
    border-bottom: 2px solid #9BBFD9;
}
#review_tab:checked + label {
    border-bottom: 2px solid #9BBFD9;
}
.funding_menu .tab_btn {
    cursor: pointer;
}
/* 라디오 버튼 안 보이도록 처리 */
.funding_menu input[type=radio]{
    display: none;
}

.funding_story {
    display: none;
    font-family: SUIT-Regular;
}

.funding_review {
    display: none;
    font-family: SUIT-Regular;
}
.review_input {
    display: flex;
    justify-content: center;
}
#btn_review {
    height: 20px;
    margin-left: 10px;
    margin-top: 30px;
}
.review_list {
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30px;
}
.review_list_left {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
}
.review_list_right {
    float: left;
    margin-top: 10px;
}
.review_info {
    display: flex;
}
.review_info p {
    margin-right: 10px;
}
.review_content {
    margin-top: 5px;
}