a {
	text-decoration: none;
}
/* favorite */
#title_wrap {
	border-bottom: 1px solid #ccc;
	height: 140px;
}

#title {
	box-sizing: border-box;
	width: 1200px;
	height: 100%;
	margin: 50px auto 0 auto;
	font-family: SUIT-SemiBold;
	font-size: 36px;
}

#page_body {
	height: 1100px;
	background-color: #f5f7fa;
}

#favorite_product_wrap {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 30px 0;
	width: 1200px;
	height: 1000px;
}

#favorite_product_wrap a {
	height: 450px;
}

.prod_flex {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
	height: 380px;
	margin: 50px;
}

.prod_img {
	width: 100%;
	height: 240px;
}

.prod_info_wrap {
	padding: 4px;
	background-color: white;
	height: 130px;
}

.prod_name {
	width: 100%;
	height: 60px;
	font-family: SUIT-Regular;
	font-size: 17px;
	font-weight: bold;
	color: black;
}

.prod_maker_wrap {
	height: 30px;
	font-family: SUIT-Light;
	font-size: 13px;
	color: #444c57;
}

.number_wrap {
	margin-top: 5px;
	position: relative;
}

.achievement_rate {
	font-family: SUIT-Regular;
	font-size: 15px;
	color: #9bbfd9;
}

.total_money {
	font-family: SUIT-Regular;
	font-size: 14px;
	color: #444c57;
}

.limit_date {
	position: absolute;
	top: 3px;
	right: 0;
	color: #444c57;
	font-family: SUIT-Light;
	font-size: 13px;
	font-weight: normal;
}

#empty_content {
	margin: 70px auto;
	height: 170px;
	line-height: 1.5em;
	text-align: center;
	font-family: SUIT-Regular;
	font-size: 17px;
	font-weight: 300;
	color: #444c57;
}

#funding_root {
	margin: 20px 0;
	width: 230px;
	height: 48px;
	background-color: #9bbfd9;
	border: 1px solid #9bbfd9;
	border-radius: 3px;
	font-family: SUIT-Regular;
	font-size: 16px;
	color: white;
	cursor: pointer;
}

#funding_root:hover {
	color: #444c57;
}

#prev_next {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
}

#prev_next button {
	background-color: white;
	border: 2px solid #444c57;
	color: #444c57;
	font-size: 17px;
	font-weight: bold;
	margin: 5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#prev_next button:hover {
	background-color: #444c57;
	color: white;
}