/* header */
a {
	text-decoration: none;
	color: #444c57;
}

#header_container {
	position: relative;
	border-bottom: 1px solid #ccc;
}

#header_content {
	position: relative;
	margin: 0 auto;
	width: 1280px;
	height: 80px;
}

#logo_inclusion {
	position: absolute;
	width: 100px;
	left: 0;
}

#logo {
	width: 90px;
	height: 65px;
}

#right_content {
	position: absolute;
	width: 140px;
	right: 0;
}

#right_bar {
	width: 200px;
}

#right_bar li {
	display: inline-block;
	margin: 10px;
}

#right_bar li a {
	font-family: SUIT-Regular;
	font-size: 15px;
	line-height: 55px;
}

#container {
	width: 100%;
	height: 880px;
}

#main_content {
	position: relative;
	margin: 0 auto;
	width: 380px;
	height: 700px;
}

#main {
	height: 600px;
	padding-top: 110px;
}

#main_title {
	width: 300px;
	height: 50px;
	font-family: SUIT-SemiBold;
	font-size: 35px;
	font-weight: 700;
}

.input_text {
	margin-top: 13px;
	padding: 0 0.95em;
	box-sizing: border-box;
	width: 368px;
	height: 48px;
	font-family: SUIT-Regular;
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #ccc;
}

#login_action_container {
	/* border: 1px solid #ccc; */
	box-sizing: border-box;
	width: 368px;
	height: 50px;
	line-height: 50px;
	margin: 2px 0 15px 0;
}

#id_save {
	float: left;
	position: relative;
}

#id_save>label {
	padding-left: 25px;
}

#find_info {
	float: right;
}

#chk_id {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 13px;
	left: 0;
}

.login_content {
	box-sizing: border-box;
	clear: both;
	width: 370px;
	height: 60px;
}

.login_btn {
	margin-top: 10px;
	width: 368px;
	height: 48px;
	border-radius: 3px;
	font-family: SUIT-Regular;
	font-size: 16px;
	font-weight: 400;
}

#login_btn {
	background-color: rgb(182, 224, 214);
	border-color: rgb(182, 224, 214);
	color: white;
	cursor: pointer;
}

#kakao_btn_content, #naver_btn_content {
	position: relative;
}

#kakao_btn {
	border-color: #fee500;
	background-color: #fee500;
	color: #444c57;
	cursor: pointer;
}

#naver_btn {
	border-color: #00d337;
	background-color: #00d337;
	color: white;
	cursor: pointer;
}

#kakao_logo {
	position: absolute;
	left: 20px;
	top: 0;
}

#naver_logo {
	position: absolute;
	left: 20px;
	top: 0;
}

#separate {
	text-align: center;
	font-size: 12px;
	font-family: SUIT-Regular;
	color: #444c57;
	width: 368px;
	height: 25px;
	line-height: 25px;
}

#social_login_content {
	height: 70px;
}

#icon_group {
	width: 60px;
	margin: 10px auto;
}

#icon_group>a>img {
	margin: 5px;
}

#login_foot {
	width: 250px;
	margin: 30px auto;
	text-align: center;
}