* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

[name="slide"] {
    display: none;
}

.slidebox {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-height: 333px;
    min-height: 333px;
    transition: all .35s;
}

.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 75%;
    transform: translateY(-50%);
    padding: 20px;
    cursor: pointer;
}

label.left {
    right: 17%;
    background-color: #5f5f5f7f;
    background-image: url('./image/left-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right {
    right: 13%;
    background-color: #5f5f5f7f;
    background-image: url('./image/right-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}



/* 페이징 스타일 */
.paginglist {
    text-align: center;
    padding: 30px 0;
}

.paginglist>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.paginglist>li>label {
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}

.paginglist>li:hover>label {
    background: #333;
}

[id="slide01"]:checked~.slidelist .slideitem {
    transform: translateX(0);
    animation: slide01 15s infinite;
}

[id="slide02"]:checked~.slidelist .slideitem {
    transform: translateX(-100%);
    animation: slide02 15s infinite;
}

[id="slide03"]:checked~.slidelist .slideitem {
    transform: translateX(-200%);
    animation: slide03 15s infinite;
}

[id="slide04"]:checked~.slidelist .slideitem {
    transform: translateX(-300%);
    animation: slide04 15s infinite;
}

@keyframes slide01 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide02 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide03 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide04 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: 300%;
    }

    48% {
        left: 300%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.section {
    display: flex;
    margin: 20px auto;
    width: 80%;
}

#beforeFunding {
    background-color: aliceblue;
    width: 70%;
    padding: 40px 0 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.img {
    margin-top: 30px;
    height: 150px;
    width: 150px;
    background-color: rgba(51, 51, 51, 0.547);
}

.productWrap {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin-right: 80px;
}

#ranking01 {
    background-color: aquamarine;
    width: 30%;
    height: 500px;
}

.section02 {
    display: flex;
    margin: 20px auto;
    width: 70%;
}

.top3 {
    width: 30%;
    height: 500px;
    background-color: antiquewhite;
}

.top3[class~="margin"] {
    margin-left: 5%;
}

.section03 {
    margin: 20px auto;
    width: 80%;
}

.apply {
    background-color: aliceblue;
    height: 250px;
}
