@charset "UTF-8";

/* semantic 구조 맞추기 */
body {
	overflow: hidden;
} 
/* body 부분  */
#section_page {
	width: 1200px;
	display: flex;
	justify-content: center;
	margin:0 auto;
}
#section_page {
	z-index: 1;
}
/* body  목록리스트  */
#nav_funding {
	width: 20%;
}
/* body  본문 */
#maker {
	width: 80%;
}
/* 테이블  감싸는 div */
section #maker_all {
	margin: 20px 0px 50px 0px;
}
/* 메이커 정보 */
section #maker_title {
	text-align: left;
	font-size: 32px;
	padding: 20px;
	color: #444c57;
}
/* 표 제목 */
section #title {
	width: 200px;
	font-family: SUIT-Regular;
}
/* 표 input 박스 */
section .in_box {
	width: 300px;
	height: 30px;
	font-size: 12px;
	/* border-radius: 5px; */
	border: 1px solid #ced4da;
	color: #495057;
	font-family: SUIT-Light;
}
/* 표 input 박스 효과*/
section .in_box:focus {
	color: #495057;
	background-color: #fff;
	border-color: #b6e0d6;
	outline: 0;
}

/* 테이블 전체 */
section table#maker_Table {
	border-spacing: 20px 20px;
	border-collapse: separate;
	padding: 30px;
/*	table-layout: fixed;*/
}
/* 버튼 효과 */
button:hover {
	opacity: 0.5;
}
/* 버튼 1번 css*/
.btn1 {
	border: none;
	border-radius: 3px;
	background: #b6e0d6;
	color: white;
	font-weight: 500;
	font-size: 13px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	font-family: SUIT-Regular;
}

.btn1:hover {
	opacity: 0.5;
}
/*  등록_ 버튼 div 위치설정*/
section #maker_in_bnt {
	text-align: center;
	padding: 20px;
}
/* 버튼 2 css */
.btn2 {
	border: none;
	border-radius: 3px;
	background: #9bbfd9;
	color: white;
	font-weight: 500;
	font-size: 17px;
	width: 300px;
	height: 30px;
	cursor: pointer;
	font-family: SUIT-Regular;
}

#nav_funding li {
	text-align: center;
	margin: 20px 0 0;
}
/* nav 목록글자 호버 */
#nav_funding a:hover {
	opacity: 0.5;
}
/* nav 목록글자 css */
#nav_funding a {
	text-align: center;
	font-size: 16px;
	line-height: 1em;
	color: #444c57;
	display: inline-block;
	padding: 10px 20px;
	margin: 10px 0 0;
	border-radius: 3px;
	width: 130px;
	height: 20px;
	font-family: SUIT-Regular;
}

/*  윗첨자* css */
sup {
	color: red;
}

}
/* nav 글자 설정 */
#nav_fundingmeber {
	padding: 10px;
	text-align: center;
	font-size: 16px;
}
/* 첨부설명 */
#small_txt {
	color: #495057;
	font-size: 10px;
	font-family: SUIT-Light;
}

/* 상품 요약 */
#p_summary {
	width: 400px;
	height: 100px;
	border-radius: 3px;
	border: 1px solid #ced4da;
	color: #495057;
	font-family: SUIT-Light;
}

#p_summary:focus {
	color: #495057;
	background-color: #fff;
	border-color: #b6e0d6;
	outline: 0;
}

/* 상품 스토리 */
#p_story {
	width: 400px;
	height: 300px;
	border-radius: 3px;
	border: 1px solid #ced4da;
	color: #495057;
	font-family: SUIT-Light;
}

#p_story:focus {
	color: #495057;
	background-color: #fff;
	border-color: #b6e0d6;
	outline: 0;
}

/*   */
.ulWrap {
	position: relative;
	top: 71px;
}
/* 로그인 회원 글자 */
#member_name {
	position: relative;
	left: 150px;
}