#container {
	width: 100%;
	height: 850px;
	margin-top: 100px;
}

#main_content {
	width: 700px;
	height: 800px;
	margin: 0 auto;
}

#main_content>h1 {
	font-family: SUIT-SemiBold;
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
}

#main_wrap {
	height: 75px;
	margin-top: 50px;
}

#main_title {
	font-family: SUIT-SemiBold;
	font-size: 28px;
	line-height: 36px;
}

#sub_caption {
	margin-top: 20px;
	font-family: SUIT-Regular;
	font-size: 15px;
	color: #444c57;
}

#attention_list {
	margin: 20px 0;
	height: 400px;
}

#attention_list li {
	border-top: 1px solid #ccc;
	margin: 10px 0;
}

#attention_list li:last-child {
	border-bottom: 1px solid #ccc;
}

.list_content {
	height: 70px;
	padding-top: 15px;
	color: #444c57;
}

.list_title {
	font-weight: bold;
	font-family: SUIT-Regular;
	font-size: 15px;
	line-height: 2em;
}

.list_caption {
	font-family: SUIT-Light;
	font-size: 13px;
}

#chk_agree {
	font-family: SUIT-Regular;
	font-size: 14px;
}

#withdraw_btn {
	font-family: SUIT-Regular;
	font-size: 15px;
	width: 116px;
	height: 53px;
	border: 1px solid rgb(243, 156, 18);
	border-radius: 5px;
	background-color: rgb(255, 253, 231);
	color: rgb(243, 156, 18);
}