button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-family: SUIT-Regular;
}

textarea {
	resize: none;
	font-family: SUIT-Regular;
}

textarea::placeholder {
	font-family: SUIT-Regular;
	color: #cccccc;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal>.message_content {
	position: relative;
	top: 150px;
	margin: auto;
	width: 350px;
	background-color: #fffaf5;
	border-radius: 10px;
	padding: 10px;
	font-family: SUIT-Regular;
}

.message_content .message_input {
	margin-top: 20px;
}

.message_content .message_send {
	margin-top: 10px;
}

.message_content .message_send button {
	background-color: transparent;
	font-family: SUIT-Regular;
	font-size: 15px;
}

.message_content #btn_message_cancel {
	color: #b8b6b6;
}

.message_content #btn_message_send {
	float: right;
	color: #9BBFD9;
}

#message_content_wrap {
	margin: 0 auto;
	width: 450px;
	height: 400px;
	background-color: white;
}

#message_title_wrap {
	background-color: #9bbfd9;
	height: 60px;
}

#message_title {
	text-align: center;
	font-family: SUIT-Regular;
	font-size: 17px;
	color: white;
	padding-top: 15px;
	padding-bottom: 5px;
}

#message_subcation {
	font-family: SUIT-Regular;
	text-align: center;
	font-size: 15px;
}

#message_content {
	border: 1px solid #9bbfd9;
	border-radius: 3px;
	margin: 30px 0;
	padding: 20px;
	height: 300px;
	color: #444c57;
	font-family: SUIT-Regular;
	font-size: 14px;
	line-height: 1.7em;
}

#answer_wrap {
	margin: 50px auto;
	height: 45px;
}

#answer_btn {
	box-sizing: border-box;
	width: 120px;
	height: 40px;
	font-size: 14px;
	background-color: #b6e0d6;
	color: white;
	cursor: pointer;
}

#check_btn {
	box-sizing: border-box;
	width: 120px;
	height: 40px;
	font-size: 14px;
	background-color: #444c57;
	color: white;
	cursor: pointer;
}