<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ans">

	<insert id="insertAns" parameterType="Ans">
		insert into answer(
		ans_no
		,ask_no
		,ans_content
		,ans_date
		)values(
		(SELECT
		NVL(MAX(ans_no), 0) + 1
		FROM answer)
		,#{ask_no}
		,#{ans_content}
		,DEFAULT
		)
	</insert>
	
	<delete id="deleteAns" parameterType="_int">
		delete from answer where
		ask_no=#{ask_no}
	</delete>

</mapper>