<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ask">

	<insert id="insertAsk" parameterType="Ask">
		insert into ask(
		ask_no,email,ask_title,ask_category,ask_content,ask_date,reply_yn
		)values(
		(SELECT NVL(MAX(ask_no), 0) + 1 FROM
		ask),#{email},#{ask_title},#{ask_category},#{ask_content},default,default
		)
	</insert>
	<select id="selectAskY" resultType="Ask">
		select
		TO_CHAR(ask_date,
		'YYYY-MM-DD HH24:MI:SS')
		ask_date,email,ask_title,ask_content,reply_yn,ask_category,ask_no,ans_content
		from ask left outer join answer using(ask_no) where reply_yn = 'Y'
		order by ask_no desc
	</select>
	<select id="selectAskN" resultType="Ask">
		select
		TO_CHAR(ask_date,
		'YYYY-MM-DD HH24:MI:SS')
		ask_date,email,ask_title,ask_content,reply_yn,ask_category,ask_no
		from
		ask where reply_yn = 'N'
		order by ask_no desc
	</select>

	<select id="selectAsk" parameterType="string" resultType="Ask">
		select
		TO_CHAR(ask_date, 'YYYY-MM-DD HH24:MI:SS')
		ask_date,email,ask_title,ask_content,reply_yn,ask_category,ask_no,ans_content
		from
		ask left outer join answer using(ask_no) where email=#{email} 
		order by
		ask_no desc
	</select>

	<select id="selectAsk2" parameterType="_int" resultType="Ask">
		select
		TO_CHAR(ask_date, 'YYYY-MM-DD HH24:MI:SS')
		ask_date,email,ask_title,ask_content,reply_yn,ask_category,ask_no
		from
		ask where ask_no=#{ask_no}
		order by ask_no desc
	</select>

	<delete id="deleteAsk" parameterType="_int">
		delete from ask where
		ask_no=#{ask_no}
	</delete>	
	<update id="updateAsk" parameterType="_int">
		update ask set reply_yn =
		'Y' where ask_no = #{ask_no}
	</update>
</mapper>