<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ask">

	<insert id="insertAsk" parameterType="Ask">
		insert into ask(
		ask_no
		,email
		,ask_title
		,ask_category
		,ask_content
		,ask_date
		,reply_yn
		)values(
		(SELECT NVL(MAX(ask_no), 0) + 1 FROM ask)
		,#{email}
		,#{ask_title}
		,#{ask_category}
		,#{ask_content}
		,default
		,default
		)
	</insert>

	<select id="selectAsk" parameterType="Ask" resultType="Ask">
		select *
		from ask where email=#{email} 
		order by ask_no desc
	</select>

	<delete id="deleteAsk"  parameterType="_int">
		delete from ask where ask_no=#{ask_no}
	</delete>
</mapper>