<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Funding">
	<resultMap type="Funding" id="FundingResultMap">
		<result property="p_no" column="p_no"/>
		<result property="p_name" column="p_name"/>
		<result property="p_goal" column="p_goal"/>
		<result property="p_thumbnail" column="p_thumbnail"/>
		<result property="p_summary" column="p_summary"/>
		<result property="p_story" column="p_story" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="p_certification" column="p_certification"/>
		<result property="start_day" column="start_day"/>
		<result property="end_day" column="end_day"/>
		<result property="payment_plan" column="payment_plan"/>
		<result property="delivery_date" column="delivery_date"/>
		<result property="p_approval" column="p_approval"/>
		<result property="p_report_cnt" column="p_report_cnt"/>
		<result property="supporter" column="supporter"/>
		<result property="total_funding_money" column="total_funding_money"/>
		<result property="p_goal_str" column="p_goal_str"/>
		<result property="p_goal_percent" column="p_goal_percent"/>
		<result property="d_day" column="d_day"/>
		<result property="category_name" column="category_name"/>
		<result property="maker_category" column="maker_category"/>
		<result property="maker_logo" column="maker_logo"/>
		<result property="maker_name" column="maker_name"/>
		<result property="maker_email" column="maker_email"/>
		<result property="maker_phone" column="maker_phone"/>
		<result property="maker_kakao_channel" column="maker_kakao_channel"/>
		<result property="maker_homepage" column="maker_homepage"/>
	</resultMap>
	
	<update id="updateFundingApproval" parameterType="Funding">
		UPDATE product
		SET p_approval = #{p_approval}
		WHERE p_no = #{p_no}
	</update>
	
	<select id="selectFunding" parameterType="_int" resultMap="FundingResultMap">
		SELECT p_no, supporter, TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money, 
		ROUND(total_funding_money / p.p_goal * 100) p_goal_percent, TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
		 p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day, TO_CHAR(p.end_day, 'YYYY.MM.DD') end_day,
		  TO_CHAR(p.payment_plan, 'YYYY.MM.DD') payment_plan, TO_CHAR(p.delivery_date, 'YYYY.MM.DD') delivery_date, 
		  p.p_story, p.p_thumbnail, p.p_summary, c.category_name, p.p_name, m.maker_logo, maker_name, m.maker_email, 
		  m.maker_phone, m.maker_kakao_channel, m.maker_homepage
		FROM view_funding_supporter_money JOIN product p USING(p_no)
        		                          JOIN category c USING(category_id)
                		                  JOIN maker m USING(maker_name)
        WHERE p_no = #{p_no}
	</select>
	
	<select id="selectFundingReviewList" parameterType="_int" resultType="Review">
		SELECT r.r_no, r.p_no, m.profile, r.r_writer, TO_CHAR(r_date, 'YYYY-MM-DD HH24:MI:SS') r_date, r.r_content
		FROM review r JOIN member m 
		              ON r.r_writer = m.nickname
		WHERE p_no = #{p_no}
		ORDER BY r.r_no DESC
	</select>
	
	<select id="selectBeforeFunding" parameterType="_int" resultMap="FundingResultMap">
		<![CDATA[
			SELECT p.p_no, TO_CHAR(p.start_day, 'mm/dd') || '(' || TO_CHAR(p.start_day, 'dy', 'nls_date_language=korean') || ') ' || TO_CHAR(p.start_day, 'HH24') || '시 00분' start_day,
			 p.p_story, p.p_thumbnail, p.p_summary, c.category_name, p.p_name, m.maker_logo, 
			 maker_name, m.maker_email, m.maker_phone, m.maker_kakao_channel, m.maker_homepage
			FROM product p JOIN category c USING(category_id)
		    	           JOIN maker m USING(maker_name)
			WHERE p_no = #{p_no}
		]]>
	</select>
	
	<select id="selectSms" parameterType="hashmap" resultType="Sms">
		SELECT * FROM sms WHERE p_no = #{p_no} AND email = #{email}
	</select>

	<select id="countApprovalList" resultType="_int">
		SELECT COUNT(*) FROM product WHERE p_approval = 'N'
	</select>
	
	<select id="selectApprovalList" parameterType="hashmap" resultMap="FundingResultMap">
		SELECT p_no, p_name, category_name, maker_name, maker_category, maker_license_copy, p_report_cnt, start_day, d_day
		FROM (SELECT ROWNUM rn, t1.*
		      FROM (SELECT p_no, p_name, category_name, maker_name, maker_category, maker_license_copy, p_report_cnt, start_day, end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day
		            FROM product JOIN category USING(category_id)
		                         JOIN maker USING(maker_name)
		            WHERE p_approval = 'N'
		            ORDER BY p_no DESC) t1) t2
		WHERE t2.rn BETWEEN #{startRnum} AND #{endRnum}
	</select>
	
	
	
	
	<select id="selectPreProducts" parameterType="_int" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt from product
	where start_day > sysdate
	order by start_day asc
]]>
	</select>

	<select id="selectAllProducts" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate
	order by start_day asc
]]>
	</select>
	
	
<!--펀딩상품 카테고리 c1~c6 -->
	<select id="selectCateProducts1" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C1'
	order by start_day asc
]]>
	</select>
	<select id="selectCateProducts2" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C2'
	order by start_day asc
]]>
	</select>
	<select id="selectCateProducts3" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C3'
	order by start_day asc
]]>
	</select>
	<select id="selectCateProducts4" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C4'
	order by start_day asc
]]>
	</select>
	<select id="selectCateProducts5" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C5'
	order by start_day asc
]]>
	</select>
	<select id="selectCateProducts6" parameterType="string" resultType="Funding">
<![CDATA[
select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
	where start_day < sysdate and end_day > sysdate and category_id = 'C6'
	order by start_day asc
]]>
	</select>
	
	<!--예정 펀딩상품 카테고리 c1~c6 -->
	<select id="selectCatePreProducts1" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C1'
	order by start_day asc
]]>
	</select>
	<select id="selectCatePreProducts2" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C2'
	order by start_day asc
]]>
	</select>
	<select id="selectCatePreProducts3" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C3'
	order by start_day asc
]]>
	</select>
	<select id="selectCatePreProducts4" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C4'
	order by start_day asc
]]>
	</select>
	<select id="selectCatePreProducts5" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C5'
	order by start_day asc
]]>
	</select>
	<select id="selectCatePreProducts6" parameterType="string" resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt,
	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day from product
	where start_day > sysdate and category_id = 'C6'
	order by start_day asc
]]>
	</select>
	<select id="selectSearchList" parameterType="string"
		resultType="Funding">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day, category_name,
	TO_CHAR(total_funding_money, 'FM999,999,999,999') total_funding_money,
	TO_CHAR(p.p_goal, 'FM999,999,999,999') p_goal_str,
	p.end_day - TO_DATE(TO_CHAR(sysdate, 'yyyy/mm/dd')) d_day,
	ROUND(total_funding_money / p.p_goal * 100) p_goal_percent
	from product p left outer join category using (category_id) left outer join view_funding_supporter_money using(p_no)
    where start_day < sysdate and end_day > sysdate and category_name like '%'||#{search_category}||'%'
    order by start_day asc
]]>
	</select>
	<select id="selectReFunding" parameterType="string"
		resultType="Funding">
<![CDATA[
	 select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt, 
 	to_date(end_day,'YYYY-MM-DD')-to_date(sysdate,'YYYY-MM-DD') open_day,category_name 
 	from product where start_day < sysdate and end_day > sysdate and p_name like '%'||'앵콜'||'%' 
]]>
	</select>

</mapper>
