<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">


	<select id="selectLogin" parameterType="Member" resultType="Member">
		select * from member where email=#{email} and password=#{password}		
	</select>
	
	<select id="selectMember" parameterType="string" resultType="Member">
		select * from member where email=#{email}
	</select>
	
	<select id="selectFindEmail" parameterType="string" resultType="Member">
		select * from member where email = #{email}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member(email, name, password, nickname)
			values(#{email}, #{name}, #{password}, #{nickname})		
	</insert>

	<update id="withdrawMember" parameterType="string">
		update member set withdraw = 'Y' where email = #{email}
	</update>
	
	<update id="updateMember" parameterType="Member">
		update member 
		<trim prefix="set" suffixOverrides=",">
			<if test="original_profile != ''">
				original_profile = #{original_profile},			
			</if>		
			<if test="rename_profile != ''">
				rename_profile = #{rename_profile},			
			</if>
			<if test="password != ''">
				password = #{password},			
			</if> 
			<if test="nickname != ''">
			 	nickname = #{nickname},			
			</if>			
			<if test="intro != ''">
				intro = #{intro}			
			</if>
		</trim>
		 	where email= #{email}
	</update>

</mapper>