<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Message">
	<insert id="insertMessage" parameterType="Message">
		INSERT INTO message VALUES((SELECT NVL((SELECT MAX(m_no) FROM message), 0) + 1 FROM dual), #{m_content}, #{sender}, (SELECT email FROM maker WHERE maker_name = #{receiver}), default, default)
	</insert>
	
	<insert id="insertReplyMessage" parameterType="Message">
		INSERT INTO message VALUES((SELECT NVL((SELECT MAX(m_no) FROM message), 0) + 1 FROM dual), #{m_content}, #{sender}, (SELECT sender FROM message WHERE m_no = #{m_no}), default, default)
	</insert>
	
	<update id="updateMessage" parameterType="Message">
		UPDATE message SET response_chk = 'Y' WHERE m_no = #{m_no}
	</update>
	
	<select id="selectSendList" parameterType="string" resultType="Message">
		SELECT 
		 	TO_CHAR(M_DATE, 'yyyy-mm-dd HH24:MI') AS M_DATE,  
			M_NO, RESPONSE_CHK, SENDER, M_CONTENT, RECEIVER
			
		FROM MESSAGE where sender= #{sender}
	</select>
	
	<select id="selectReceiveList" parameterType="string" resultType="Message">
		SELECT 
		 	TO_CHAR(M_DATE, 'yyyy-mm-dd HH24:MI') AS M_DATE,  
			M_NO, RESPONSE_CHK, SENDER, M_CONTENT, RECEIVER
			
		FROM MESSAGE where receiver= #{receiver}
	</select>
	
	
	<select id="selectMessage" parameterType="string" resultType="Message">
		select * from message where m_no = #{m_no}	
	</select>
	
	<select id="countMyReceiveMessage" parameterType="string" resultType="int">
		SELECT count(*) FROM MESSAGE where receiver= #{receiver}
	</select>
		
	<select id="countMySendMessage" parameterType="string" resultType="int">
		SELECT count(*) FROM MESSAGE where sender= #{sender}
	</select>
	
</mapper>