<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">
<select id="noticeList" parameterType="int" resultType="Notice">
	SELECT * FROM (SELECT ROWNUM R, T1.* FROM 
	(SELECT B1.* FROM "NOTICE" B1 ORDER BY N_DATE DESC, N_NO DESC) T1) 
	WHERE R BETWEEN #{startRnum} and #{entRnum}
</select>
<select id="noticeCount" resultType="int">
	SELECT COUNT(*) FROM "NOTICE"
</select>
<delete id="deleteNotice" parameterType="int">
	DELETE FROM "NOTICE" WHERE n_no = #{n_no}
</delete>
<insert id="insertNotice" parameterType="String">
	INSERT INTO "NOTICE" VALUES (
	(select nvl(max(n_no),0)+1 from "NOTICE"),
	#{n_title},
	#{n_content},
	default,
	default,
	'관리자'
	)
	
</insert>
</mapper>