<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Pay">
	<insert id="insertPay" parameterType="Pay">
		INSERT
			INTO
			"PAY"
				(PAY_NO,
				ORDER_NO,
				P_NO,
				EMAIL,
				ORDER_NAME,
				ORDER_PHONE,
				ORDER_ADDRESS,
				TOTAL_SUM,
				PAYMENT_METHOD)
		values(
				 #{PAY_NO}
				 ,#{ORDER_NO}
				 ,#{P_NO}
				,#{EMAIL}
				,#{ORDER_NAME}
				,#{ORDER_PHONE}
				,#{ORDER_ADDRESS}
				,#{TOTAL_SUM}
				,#{PAYMENT_METHOD}
		)
	</insert>
	<select id="selectPay" parameterType="Order" resultType="Option">
		SELECT * FROM "OPTION" A JOIN "ORDER" B on A.option_no = B.option_no WHERE order_no=#{order_no}  
	</select>
	<select id="selectProduct" parameterType="Order" resultType="Product">
		SELECT * FROM "PRODUCT" A JOIN "ORDER" B on A.p_no = B.p_no WHERE order_no=#{order_no}
	</select>
</mapper>
