<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Product">

<insert id="insertProduct">
	insert into product(p_no
	,maker_name,category_id,p_name,p_goal
	,p_thumbnail
	,p_summary
	,p_story
	,p_certification
	,start_day,end_day,payment_plan,delivery_date
	,p_approval,p_report_cnt
	)values(#{p_no}
	,#{maker_name},#{category_id},#{p_name},#{p_goal}
	,#{p_thumbnail}
	,#{p_summary}
	,#{p_story}
	,#{p_certification}
	,#{start_day},#{end_day},#{payment_plan},#{delivery_date}
	,default,default)
</insert>

<select id="selectProduct">
select * from product
	where p_no=#{p_no}
</select>

<select id="selectPreProducts" parameterType="_int" resultType="Product">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt from product
	where start_day > sysdate
	order by start_day asc
]]>
</select>

<select id="selectAllProducts" resultType="Product">
<![CDATA[
	select p_no,maker_name,category_id,p_name,p_thumbnail,start_day,end_day,p_report_cnt from product
	where start_day < sysdate
	order by start_day asc
]]>
</select>

</mapper>