<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Report">
	<insert id="insertReport" parameterType="Report">
		INSERT INTO report VALUES((SELECT NVL((SELECT MAX(report_no) FROM report), 0) + 1 FROM dual), #{email}, #{p_no}, #{report_category}, #{report_content}, #{report_file}, default)
	</insert>
	
	<select id="checkReport" parameterType="Report" resultType="_int">
		SELECT COUNT(*) FROM report WHERE p_no = #{p_no} AND email = #{email}
	</select>
	
	<select id="countReportList" resultType="_int">
		SELECT COUNT(*) FROM report
	</select>
	
	<select id="selectReportList" parameterType="hashmap" resultType="Report">
		SELECT report_no, reported_email, p_no, p_name, report_category, email, report_date, report_content, report_file
		FROM (SELECT ROWNUM rn, t1.*
		      FROM (SELECT report_no, maker.email reported_email, p_no, p_name, report_category, report.email email, TO_CHAR(report_date, 'YYYY.MM.DD') report_date, report_content, report_file
		            FROM report JOIN product USING(p_no)
		            			JOIN maker USING(maker_name)
		            WHERE p_approval = 'Y'
		            ORDER BY report_no DESC) t1) t2
		WHERE t2.rn BETWEEN #{startRnum} AND #{endRnum}
	</select>
</mapper>
