<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Sales">

	<select id="selectSalesList" resultType="Sales" parameterType="Criteria">
		SELECT * 
			FROM 
				(
			SELECT
				  ROW_NUMBER() OVER(ORDER BY P_NO desc) row_num  
				, P_NO
				, MAKER_NAME
				, CATEGORY_ID
				, P_GOAL
				, total_funding_money
				, (total_funding_money * 0.9) AS sales_funding_money
				, (total_funding_money * 0.1) AS commission
				, (total_funding_money / P_GOAL * 100) as p_goal_percent
			FROM (
				SELECT
					p.p_no,
					p.maker_name,
					p.category_id,
					p.p_goal,
					SUM(nvl(a.total_sum, 0)) AS total_funding_money
				FROM
					PRODUCT p,
					PAY a
				WHERE
					p.P_NO = a.p_no
				GROUP BY
					p.P_NO ,
					p.MAKER_NAME ,
					p.CATEGORY_ID ,
					p.P_GOAL
				)
			)
		WHERE ROW_NUM BETWEEN #{pageSize} * (#{page} - 1) + 1 AND #{pageSize} * #{page}
		
	</select>
	
	<select id="selectSalesListCnt" resultType="int">
		SELECT
			 count(*)
		FROM (
			SELECT
				p.p_no,
				p.maker_name,
				p.category_id,
				p.p_goal,
				SUM(nvl(a.total_sum, 0)) AS total_funding_money
			FROM
				PRODUCT p,
				PAY a
			WHERE
				p.P_NO = a.p_no
			GROUP BY
				p.P_NO ,
				p.MAKER_NAME ,
				p.CATEGORY_ID ,
				p.P_GOAL
			)
	</select>
	
	<select id="selectOneSales" parameterType="String" resultType="Sales">
		SELECT
			P_NO
			, MAKER_NAME
			, P_NAME
			, CATEGORY_ID
			, P_GOAL
			, total_funding_money
			, (total_funding_money * 0.9) AS sales_funding_money
			, (total_funding_money * 0.1) AS commission
			, (total_funding_money / P_GOAL * 100) as p_goal_percent
		    , START_DAY
		    , END_DAY
			
		FROM (
			SELECT
				p.p_no,
				p.maker_name,
				p.p_name,
				p.category_id,
				p.p_goal,
				SUM(nvl(a.total_sum, 0)) AS total_funding_money,
				p.start_day,
				p.end_day
			FROM
				PRODUCT p,
				PAY a
			WHERE
				p.P_NO = a.p_no
			AND p.p_no = #{p_no}
			GROUP BY
				p.P_NO ,
				p.MAKER_NAME ,
				p.p_name,
				p.CATEGORY_ID ,
				p.P_GOAL,
				p.start_day,
				p.end_day
			)
	</select>

</mapper>