<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- <properties></properties> -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.spring.fongdang.member.domain.Member" alias="Member"/>
		<typeAlias type="kh.spring.fongdang.ask.domain.Ask" alias="Ask"/>
		<typeAlias type="kh.spring.fongdang.maker.domain.Maker" alias="Maker"/>
		<typeAlias type="kh.spring.fongdang.funding.domain.Product" alias="Product"/>
		<typeAlias type="kh.spring.fongdang.option.domain.Option" alias="Option"/>
		<typeAlias type="kh.spring.fongdang.pick.domain.Pick" alias="Pick"/>
	</typeAliases>
		
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/ask-mapper.xml"/>
		<mapper resource="mappers/maker-mapper.xml"/>
		
		<mapper resource="mappers/admin-mapper.xml"/>
	</mappers>
</configuration>