<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.spring.fongdang.member.domain.Member" alias="Member"/>
		<typeAlias type="kh.spring.fongdang.ask.domain.Ask" alias="Ask"/>
		<typeAlias type="kh.spring.fongdang.ans.domain.Ans" alias="Ans"/>
		<typeAlias type="kh.spring.fongdang.maker.domain.Maker" alias="Maker"/>
		<typeAlias type="kh.spring.fongdang.funding.domain.Product" alias="Product"/>
		<typeAlias type="kh.spring.fongdang.funding.domain.Funding" alias="Funding"/>
		<typeAlias type="kh.spring.fongdang.review.domain.Review" alias="Review"/>
		<typeAlias type="kh.spring.fongdang.option.domain.Option" alias="Option"/>
		<typeAlias type="kh.spring.fongdang.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="kh.spring.fongdang.order.domain.Order" alias="Order"/>
		<typeAlias type="kh.spring.fongdang.pay.domain.Pay" alias="Pay"/>
		<typeAlias type="kh.spring.fongdang.message.domain.Message" alias="Message"/>
		<typeAlias type="kh.spring.fongdang.sms.domain.Sms" alias="Sms"/>
		<typeAlias type="kh.spring.fongdang.pick.domain.Pick" alias="Pick"/>
		<typeAlias type="kh.spring.fongdang.report.domain.Report" alias="Report"/>
		<typeAlias type="kh.spring.fongdang.admin.domain.Sales" alias="Sales"/>
		<typeAlias type="kh.spring.fongdang.common.Criteria" alias="Criteria"/>
		<typeAlias type="kh.spring.fongdang.oauth.model.dto.SnsInfo" alias="Oauth"/>
		<typeAlias type="kh.spring.fongdang.alarm.domain.Alarm" alias="Alarm"/>
	</typeAliases>
		
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/ask-mapper.xml"/>
		<mapper resource="mappers/ans-mapper.xml"/>
		<mapper resource="mappers/maker-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/funding-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
		<mapper resource="mappers/option-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/order-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		<mapper resource="mappers/message-mapper.xml"/>
		<mapper resource="mappers/sms-mapper.xml"/>
		<mapper resource="mappers/pick-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/sales-mapper.xml"/>
		<mapper resource="mappers/oauth-mapper.xml"/>
		<mapper resource="mappers/alarm-mapper.xml"/>
	</mappers>
</configuration>